body {
	font-family: 'Arial', sans-serif;
	background-color: #f4f4f4;
	color: #333;
	margin: 0;
	padding: 0;
}

header {
	background-color: #009688;
	color: #fff;
	padding: 1em;
	text-align: center;
}

nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

nav li {
	display: inline;
	margin-right: 10px;
}

nav a {
	text-decoration: none;
	color: #fff;
	font-weight: bold;
}

.latest-news {
	background-color: #fff;
	padding: 15px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
	background-color: #333;
	color: #fff;
	text-align: center;
	padding: 1em;
}

img {
	width: 100px;
	height: auto;
}

.news {
	display: flex;
	justify-content: space-between;
	padding: 20px;
}

.book {
	display: flex;
	justify-content: space-between;
	padding: 20px;
	flex-direction: row;
}

.parallel {
	width: 48%;
	border: 1px solid #ccc;
	padding: 20px;
	box-sizing: border-box;
}

form {
	padding: 20px;
}

.image-container {
	position: relative;
}

.image-source {
	position: absolute;
	bottom: -15px;
	left: 0;
	font-size: 12px;
	color: #888;
}

.image-source a {
	color: #3498db;
	text-decoration: none;
}

.image-source a:hover {
	text-decoration: underline;
}

@media (min-width: 768px) {
	img {
		width: 200px;
		height: auto;
	}
}

@media (min-width: 1200px) {
	img {
		width: 300px;
		height: auto;
	}
}